@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');
@import "tailwindcss";


:root {
    --color-pry: #1B5E20;
    --color-sec: #A5D6A7;
    --color-gold: #F9C74F;
    --color-cream: #FFFDF5;
    --color-text: #263238;
}