@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@500;600;700&display=swap");
@import "tailwindcss";
@custom-variant hover (&:hover);

:root {
  font-family: "Inter", sans-serif;
  color: #263238;
  background: #fffdf5;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #fffdf5;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav,
label,
input,
select {
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

a.active {
border-bottom: 2px solid #f9c74f;

}
